.tableHeading {
  background-color: #3b7fc5;
  color: white;
  border-bottom: 2px solid transparent;
}
.quantityBox {
  width: 50px;
}
.detailsTableHeading {
  border-top: 2px solid #dededd;
  background-color: #fff;
}

.orderCountHeader {
  border-top: 2px solid #dededd;
  background-color: #fff;
}

.totalPayableTable {
  background-color: black;
  color: white;
  margin: 0;
}
.totalPayable {
  padding: 2%;
}
.data {
  font-weight: bold;
  text-align: right;
  padding: 2%;
}
.dataTitle {
  text-align: left;
  padding: 2%;
}
