.title {
  font-weight: bold;
  color: white;
  text-align: center;
}
#suspand {
  background-color: #eca341;
}
#suspand:hover{
  background-color: #ffffff;
  color:#eca341
}
#order {
  background-color: #4fb7d7;
}
#order:hover{
  background-color: #ffffff;
  color:#4fb7d7
}
#payment {
  background-color: #51ad4e;
  vertical-align: middle;
}
#payment:hover{
  background-color: #ffffff;
  color:#51ad4e
}
#cancel {
  background-color: #d34943;
}
#cancel:hover {
  background-color: #ffffff;
  color:#d34943
}
#bill {
  background-color: #3a7ec2;
}
#bill:hover{
  background-color: #ffffff;
  color:#3a7ec2
}